<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="emp" class="org.infosys.beans.Employee">
        <property name="employeeId" value="123"/>
        <property name="employeeName" value="RANJEET"/>
     </bean>
    <bean id="emp1" class="org.infosys.beans.Employee">
        <property name="employeeId" value="124"/>
        <property name="employeeName" value="Akalank"/>
    </bean>
    <bean id="depart1" class="org.infosys.beans.Department">
        <constructor-arg name="deptId" value="1" />
        <constructor-arg name="deptName" value="Edgeverve" />
    </bean>
    <bean id="project1" class="org.infosys.beans.Project">
        <constructor-arg>
<!--            <bean class="org.infosys.beans.Employee"/>-->
<!--            <ref bean="emp"/>-->
            <list>
                <ref bean="emp"/>
                <ref bean="emp1"/>
            </list>
        </constructor-arg>
        <property name="projectName" value="Finacle" />
        <property name="department">
            <ref bean="depart1"/>
        </property>
        <property name="resources">
            <map>
                <entry key="laptop" value="10"/>
                <entry key="monitors" value="15"/>
            </map>
        </property>
    </bean>

</beans>